@charset "UTF-8";

/* Aparelho em pé (Portrait) */

body{
    background: url(../images/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}